html, body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
}

p {
    margin: 0;
    font-size: 16px;
}

.logo {
    height: 70px;
}

.profile-photo {
    height: 50px;
    border-radius: 50%;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C6C6C6;
    padding: 10px 20px 10px 15px;
}

.post {
    padding-bottom: 8px;
}

.gustave, .vincent {
border-bottom: 30px solid #EDEDED;
}

.account-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 15px;
}

.posted-img {
    width: 100%;
}

.icon {
    height: 30px;
    width: 28px;
    margin-right: 20px;
}

.icon:hover,
.icon:focus {
    opacity: 50%;
}

.options {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0 10px 15px;
}

.likes, .comments {
    padding: 0 15px 15px 15px;
}
